
# User-specific stuff
/Wikipedia scraper/src/flags/*
/Wikipedia scraper/src/identified/*
/Wikipedia scraper/src/unidentified/*
/Wikipedia scraper/src/*.json
/Wikipedia scraper/src/statistics.txt
.idea/*
